body{
  width: 100%;
  margin: 0;
}
main{
  background-color: #e4d7e7;
}


h1 {
  margin: 0;
  font-size: 62px;
  font-family: 'Teko', sans-serif;
  color: #a16994;
  
}

.profile-wrapper{
  width: 90%;
  text-align: center;
}
.profile-ttl {
  font-size: 24px;
}
.works {
  width: 80%;
  margin: 60px auto;
  text-align: center;
}
.works-ttl {
  font-size: 18px;
}

li{
    font-size: 12px;
    list-style: none;
    line-height: 2;
  }

h2{
  margin-top: 50px;
  font-size: 24px;
  -webkit-margin-top-collapse: ;
  color: bisque;
}

p {
  font-size: 8px;
  color: #a16994;
}
.cardflex {
  width: 90%;
  display: block;
  display: flex;
  margin: 0 auto;
}
.card-items {
  width: 33%;
  padding: 30px 0;
  margin: 0 auto;
}

img {
  width: 80%;
}  
.ttl{
  font-size: 12px;
}



