body{
  width: 100%;
  margin: 0;
}
main{
  background-color: #e4d7e7;
}


h1 {
  margin: 0;
  font-size: 62px;
  font-family: 'Teko', sans-serif;
  color: #a16994;
  
}

.profile-wrapper{
  width: 90%;
  text-align: center;
}
.profile-ttl {
  font-size: 24px;
}
.works {
  margin:  auto;
  text-align: left;
}

h2{
  margin-top: 50px;
  font-size: 24px;
  color: bisque;
}

p {
  font-size: 8px;
  color: #a16994;
}
.cardflex {
  width: 100%;
  display: block;
  display: flex;
}
.card-items {
  width: 33%;
  padding: 30px 0;
  margin: 0 auto;
}

img {
  width: 80%;
}  
.ttl{
  font-size: 12px;
}



