body{
  background-color: #e4d7e7;
  width: 100%;
}


h1 {
  font-size: 32px;
  font-family: 'Teko', sans-serif;
  color: #a16994;
 border-bottom: 3px solid burlywood;
  padding-bottom: 10px;
}

p {
  font-size: 12px;
  color: #a16994;
}
.cardflex {
  width: 100%;
  display: flex;
  display: inline-block;
}
.card-items {
  display: flex;
}
img {
  width: 50%;
}  



